.feedbackSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-bottom: 100px;
}

.feedbackHeading4 {
  color: #3734a9;
}

.feedbackTitle {
  font-size: var(--H1);
}

.feedBackCards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-flow: wrap;
  /* background-color: rebeccapurple; */
  height: 600px;
}

.feedBackLeft {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedBackRight {
  width: 400px;
  height: 600px;
  padding: 100px 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 14px;
}

.hy{
  overflow: hidden;
  height: 100%;
}

.starConteiner {
  display: flex;
}

.feedBackCaption {
  font-size: 1.3rem;
  font-weight: 600;
}

.feedBackName {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 25px;
}

.feedBackPosition {
  font-size: 0.9rem;
  color: #757095;
}

.aboutFeedBackPerson {
  display: flex;
  flex-direction: column;
  gap: 4ox;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.personDetail {
  display: flex;
  gap: 4ox;
  flex-direction: column;
}

.textImage {
  position: absolute;
  right: 0;
  top: 30px;
}

.feedbackProfile {
  width: 495.43px;
  height: 593px;
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patternFeedBACK {
  position: absolute;
  right: 10px;
  top: 17px;
}

.cardFeedBack {
  width: 100%;
  max-width: 402px;
  height: 479px;
  border-radius: 16px;
  background: #e8f2ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ladyFeedBack {
  scroll-snap-align: center;
  mix-blend-mode: darken;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.animateReverse {
  animation: animateReverse 1s both;
}

.animate {
  animation: animate 1s both;
}

.hide {
  display: none !important;
}

.topVectore {
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
}

.bottomVectore {
  position: absolute;
  bottom: 0;
  z-index: 100;
  right: 0;
}

@media (min-width : 768px) and (max-width : 992px) {
  .memberShipSection{
    margin-top: 350px;
  }
  .center{
    font-size: 13px;
  }
}

@keyframes animate {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes animateReverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

#i {
  font-size: 30px;
}

.btnCircle {
  width: 60px;
  height: 60px;
  background: white;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  transition: all 0.1s;
  display: grid;
  place-items: center;
  cursor: pointer;
  filter: drop-shadow(0 30px 30px rgba(0, 0, 0, 0.291));
}

#previus {
  position: absolute;
  left: 20px;
}

#next {
  position: absolute;
  right: 20px;
}

.btnCircle:hover {
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.508));
}

.feedBackCurve {
  position: absolute;
  bottom: 0;
  left: 130px;
}

@media (max-width: 768px) {
  .feedbackTitle {
    font-size: medium;
    text-align: center !important;
  }

  .feedBackCard {
    width: 100%;
  }

  .feedBackCards {
    width: 100%;
  }

  .feedBackRight {
    padding: 30px;
  }

  .feedBackLeft {
    width: 100%;
  }

  .feedBackRight {
    width: 80%;
  }

  .textImage {
    position: sticky;
    margin-top: 25px;
  }

  .feedbackProfile {
    width: 98%;
  }

  .feedBackCard {
    width: 100%;
  }
}
