.feedbackSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-bottom: 100px;
}

.feedbackHeading4{
    color: #3734A9;
}

.feedbackTitle{
    font-size: 2rem;
}

.feedBackCards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-flow: wrap;
    /* background-color: rebeccapurple; */
    height: 600px;
}

.feedBackLeft{
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.feedBackRight{
    width: 400px;
    height: 600px;
    padding: 100px 50px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;   
    gap: 14px;
}

.starConteiner{
    display: flex;
    
}

.feedBackCaption{
    font-size: 1.4rem;
    font-weight: 600;
}

.feedBackName{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 25px;
}

.feedBackPosition{
    font-size: .9rem;
    color: #757095;
}

.aboutFeedBackPerson{
    display: flex;
    flex-direction: column;
    gap: 4ox;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.personDetail{
    display: flex;
    gap: 4ox;
    flex-direction: column;
}

.textImage{
    position: absolute;
    right: 0;
    top: 30px;
}

@media  (max-width : 768px) {
    .feedbackTitle{
        font-size: medium;
        text-align: center !important;
    }

    .feedBackCard{
        width: 100%;
    }
    
    .feedBackCards{
        width: 100%;
    }

    .feedBackRight{
    padding: 30px;

    }

    .feedBackLeft{
        width: 100%;
    }
    
    .feedBackRight{
        width: 80%;
    }
    
    .textImage{
        position: sticky;
        margin-top: 25px;
    }

}
