@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primaryColorOrange: #ff7f5c;
  --primaryColorGreen: #05796b;
  --fontWhite: white;
  --fontBlack: black;
  --fontSecendory: #757095;
  --secendory: #8593a3;
  --bgSecendory: rgb(235, 235, 235);
  --cardBg: #f8f9fd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.navCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(233, 251, 255, 0.423);
  margin-bottom: 100px;
  backdrop-filter: blur(10px);
  z-index: 10000;
}

.hero {
  width: 80%;
  min-height: 700px;
  display: flex;
  flex-flow: wrap;
  margin-top: 200px;

}

.contentRight {
  flex: 1 0 50vh;
  display: flex;
  justify-content: center;
  position: relative;
  padding-right: 50px;
  flex-direction: column;
  align-items: end;
}

.contentLeft {
  flex: 1 0 50vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  padding: 40px;
}

.heroHeading {
  font-size: smaller;
}

.heroTitle {
  font-size: 3cqmax;
  font-weight: 600;
}

.heroRightInnterContainer {
  background: url("vector.svg");
  background-color: var(--bgSecendory);
  height: 50vh;
  width: 86%;
  position: relative;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200%;
  border-radius: 30px;
}

.svg1 {
  position: relative;
  height: 120%;
  bottom: 60px;
  left: 10%;
}

.doFlexBetween {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: center;
}

.container {
  width: 75%;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.center {
  font-size: small;
  display: flex;
  gap: 18px;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.mobileNavlink .navLink a {
  color: white !important;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-flow: wrap;
}

a {
  color: rgb(34, 32, 32);
  text-decoration: none;
}

.left {
  flex: 0 0 auto;
}

.btnStart {
  padding: 10px 10px;
  background-color: var(--primaryColorOrange);
  border-radius: 50px;
  outline: none;
  border: none;
  color: var(--fontWhite);
  font-weight: 300;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  flex: 0 0 auto;
}

.sidebarBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  flex: 0 0 auto;
}

.sidebarBtns .text {
  color: white !important;
}

.text {
  font-weight: 400;
}

.svg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.vector1 {
  position: absolute;
  top: 0;
  right: 15px;
}

.vector2 {
  align-self: baseline;
  position: relative;
  bottom: 50px;
  left: -58px;
}

.svgContainer {
  background: url("vector.svg");
  background-color: var(--bgSecendory);
  height: 650px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.m-5 {
  margin-top: 30px;
}

.m-10 {
  margin-top: 80px;
}

.svgImg1 {
  height: 120%;
  position: relative;
  bottom: 40px;
  width: 100%;
}

.svgImg2 {
  position: absolute;
  bottom: -100px;
  top: auto;
  left: 36%;
  height: 56%;
}

.h4 {
  font-size: 1.4cqmax;
  font-weight: 600;
}

.h1 {
  font-size: 4cqmax;
  font-weight: 600;
}

.h3 {
  font-size: 3.7cqmax;
  font-weight: 600;
}

.p {
  color: var(--fontSecendory);
  font-weight: 300;
  font-size: 1.3cqmax;
  line-height: 2;
}

.btnFont {
  color: var(--fontWhite);
  font-weight: 300;
  font-size: 1.3cqmax;
  line-height: 2;
}

.btnGreen {
  padding: 12px 40px;
  background-color: var(--primaryColorGreen);
  border: none;
  outline: none;
  margin-top: 60px;
  border-radius: 50px;
  width: 40%;
  filter: drop-shadow(0 40px 50px #137c678a);
}

.svgImg2Res {
  display: none;
}

.cardContainer {
  width: 100%;
  height: auto;
}

.counter {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}

.countTitle {
  font-size: 26px;
  font-weight: 500;
}

.countCaption {
  font-weight: 200;
  font-size: small;
  color: rgba(128, 128, 128, 0.35);
}

.countLeft {
  display: flex;
  flex: 1 0 150px;
  gap: 5px;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.countRight {
  flex: 1 0 150px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  gap: 5px;
}

.about {
  text-align: justify;
  font-weight: 200;
}

.aboutTitle {
  font-size: x-large;
}

.logoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.bg {
  background: url("vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fs-3 {
  font-size: small;
  font-weight: 600;
}

.f-c {
  text-align: center !important;
}

.fdColumn {
  flex-direction: column !important;
}

.dFlex {
  display: flex;
}

.fWrap {
  flex-wrap: wrap !important;
  flex-flow: wrap !important;
}

.dCenter {
  justify-content: center;
}

.dBeetween {
  justify-content: space-between;
}

.dEvenly {
  justify-content: space-evenly;
}

.dAround {
  justify-content: space-around;
}

.dAlignCenter {
  align-items: center;
}

.h2 {
  font-size: xx-large;
}

.fw-1 {
  font-weight: 600;
}

.g-5 {
  gap: 10px;
}

.rg-5 {
  gap: 20px;
}

.fontRes {
  text-align: center;
  width: 200px;
}

.boxTitle {
  inline-size: 140px;
  text-align: left;
  font-weight: 600;
}

pre {
  text-align: left;
}

.serviceCard {
  padding: 35px 30px 30px 40px;
  border: 1px solid var(--bgSecendory);
  background-color: var(--fontWhite);
  width: 270px;
  border-radius: 20px;
  height: 237px;
  display: flex;
  justify-content: end;
  align-items: left;
  flex-direction: column;
  filter: drop-shadow(0 0 50px rgba(82, 82, 82, 0.149));
}

.serviceCard:last-child {
  padding: 35px 30px 30px 40px;
  display: flex;
  justify-content: end;
  align-items: left;
  background-color: var(--primaryColorGreen);
}

.boxLogo {
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  height: 50px;
  background-color: var(--bgSecendory);
}

.processTitle {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -3%;
  font-weight: 600;
}

.serviceCard:last-child .boxLogo {
  font-size: xx-large;
  color: var(--fontWhite);
  background: none !important;
  text-align: left;
}

.serviceCard:last-child .boxTitle {
  font-size: xx-large;
  color: var(--fontWhite);
  font-weight: 500;
}

.serviceCard:last-child .caption {
  font-size: small;
  text-align: left;
  color: var(--fontWhite);
}

h4 {
  word-wrap: break-word;
}

.caption {
  font-size: small;
  text-align: left;
  color: var(--fontSecendory);
}

.process {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 100px;
  flex-direction: column;
}

.mt-1 {
  margin-top: 10px;
}

.processCaption {
  font-size: 20px;
}

.processCaption {
  line-height: 35px;
  text-align: center;
  letter-spacing: -2%;
  font-weight: 400;
  color: var(--fontSecendory);
  width: 50%;
}

.processSteps {
  margin-top: 20px;
  width: 80%;
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}

.step {
  flex: 0 0 320px;
  height: 270px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.circle {
  width: 130px;
  border-radius: 50%;
  height: 130px;
  display: flex;
  border: 1px solid gray;
  border-style: dashed;
  justify-content: center;
  align-items: center;
  background-color: var(--fontWhite);
  position: relative;
}

.step:first-child .circle {
  border: none;
  filter: drop-shadow(0 0 80px rgba(128, 121, 121, 0.596));
}

.innerCircle {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #137c674f;
  position: relative;
  overflow: hidden;
}

.icon {
  position: absolute;
  font-size: 40px;
  color: var(--primaryColorGreen);
}

.stepDetail {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.stepTitle {
  font-size: 24px;
  text-align: center;
}

.stepInfo {
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--fontSecendory);
  text-align: center;
  width: 90%;
}

.profileContainer {
  position: absolute;
  width: 100%;
  min-height: auto;
  flex-direction: column;
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.288));
  bottom: -190px;
  display: flex;
  gap: 15px;
  justify-content: right;
}

.profile1 {
  width: 93%;
  border-radius: 60px;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--fontWhite);
}

.profileInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile1:last-child {
  position: relative;
  left: 70px;
  width: 82%;
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileTime {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 10px;
}

.surname {
  font-size: 1cqmax;
}

.name {
  font-size: 1cqmax;
  color: var(--secendory);
}

.time1 {
  font-size: small;
  color: var(--primaryColorOrange);
}

.time2 {
  font-size: small;
  color: var(--primaryColorGreen);
}

.round {
  width: 23px;
  position: absolute;
  height: 23px;
  border-radius: 50%;
  background-color: var(--primaryColorGreen);
}

.badge {
  width: 40px;
  top: -50px;
  left: 21%;
  height: 40px;
  position: absolute;
  font-size: x-large;
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.line1 {
  position: absolute;
  left: 140%;
  top: 20%;
}

.line2 {
  position: absolute;
  right: 60%;
  top: 20%;
}

.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 100px;
  gap: 20px;
  flex-direction: column;
}

.appHeading {
  font-size: 1cqmax;
  font-weight: 600;
  color: var(--primaryColorOrange);
}

.appTitle {
  width: 50%;
  font-size: 2cqmax;
  text-align: center;
  font-weight: 600;
  line-height: 33px;
}

.appCaption {
  color: var(--fontSecendory);
  font-size: 1.5cqmax;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.btnApple {
  flex: 0 0 150px;
  padding: 17px 25px;
  outline: none;
  font-size: 1.3cqmax;
  text-align: center;
  gap: 10px;
  border-radius: 50px;
  color: var(--fontWhite);
  white-space: nowrap;
  border: none;
  background: var(--primaryColorOrange);
}

.btnAndroid {
  text-align: center;
  font-size: 1.3cqmax;
  border-radius: 50px;
  white-space: nowrap;
  flex: 0 0 150px;
  padding: 17px 25px;
  color: var(--fontWhite);
  filter: drop-shadow(0 40px 50px #137c678a);
  background: var(--primaryColorGreen);
}

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  height: 700px;
  width: 80%;
  flex-flow: wrap;
}

.aboutLeft {
  flex: 1 0 40vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutChild {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 100%;
}

.aboutRight {
  flex: 1 0 40vh;
  height: 100%;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  flex-direction: column;
  text-align: left !important;
}

.aboutCard {
  width: 400px;
  height: 480px;
  position: relative;
  background-color: var(--cardBg);
  border-radius: 20px;
}

.aboutTitle {
  font-size: 2.2cqmax;
  width: 100%;
}

.vectore7 {
  position: absolute;
  right: -16px;
  top: -18px;
}

.vectore8 {
  position: absolute;
  bottom: -120px;
  right: 50%;
  z-index: -1;
}

.lady {
  position: absolute;
  bottom: 0;
  left: -27px;
}

.imgCard {
  z-index: 1;
  position: absolute;
  bottom: -126px;
  right: -130px;
}

#btnGreen {
  width: 200px !important;
  padding: 10px !important;
}

.aboutCaption {
  font-size: 0.9rem;
  width: 100%;
  color: var(--fontSecendory);
  font-weight: 300;
}

.memberShipSection {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
}

.memberShipContainer {
  width: 70%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuIcon {
  display: none;
}

.memberShipHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.memberShipTitle {
  font-size: 2rem;
  text-align: center;
}

.mBG {
  position: absolute;
  top: 29%;
  width: 90%;
}

.memberShipCaption {
  font-size: 0.9rem;
  width: 100%;
  color: var(--fontSecendory);
  font-weight: 300;
  text-align: center;
}

.memberShipCards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 34px;
  margin-top: 80px;
}

.memberShipCardLeft {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  gap: 30px;
  max-height: 700px;
  background-color: var(--fontWhite);
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.202));
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 25px 30px;
}

.memberShipCardRight {
  width: 100%;
  max-width: 300px;
  max-height: 700px;
  border-radius: 20px;
  filter: drop-shadow(0 40px 50px #137c678a);
  display: flex;
  align-items: left;
  flex-direction: column;
  background-color: var(--primaryColorGreen);
  gap: 30px;
  padding: 25px 30px;
  position: relative;
}

.mTitlemain {
  color: var(--primaryColorGreen);
}

.white {
  color: var(--fontWhite) !important;
}

.bgwhite {
  background-color: var(--fontWhite) !important;
  color: black !important;
  font-size: 1rem;
  font-weight: 500 !important;
}

.mtitleMonth {
  color: var(--secendory);
  font-weight: 300;
}

.mTitle {
  font-size: 64px;
  font-weight: 400;
}

.mCardCaption {
  font-size: 0.8rem;
  color: #8593a3;
  font-weight: 300;
}

.line {
  width: 300px;
  height: 1px;
  margin-top: 40px;
  background-color: rgba(169, 169, 169, 0.23);
}

.chkbox {
  margin-top: 40px;
  max-width: 100%;
}

.btnJoin {
  width: 100%;
  outline: none;
  background: transparent;
  border: solid 1px #b7b7b74f;
  padding: 16px 32px;
  border-radius: 80px;
  margin-top: 20px;
  color: #8593a3;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .btnJoin {
    padding: 16px 10px;
  }

  .svgImg2 {
    width: 100% !important;
  }

  .aboutRight {
    padding: 0 0px;
    margin-top: 100px;
  }

  .appContainer {
    width: 98% !important;
  }

  .appTitle {
    width: 95% !important;
  }

  .step {
    flex: 0 0 100%;
  }
}

@media (max-width: 300px) {
  .circle {
    height: 100px;
    width: 100px;
  }

  .badge {
    width: 40px;
    height: 40px;
  }

  .step {
    flex: 0 0 100% !important;
  }

  .stepTitle {
    font-size: 17px;
  }

  .serviceCard {
    flex: 1 0 90%;
  }

  .btnGreen {
    padding: 10px;
  }

  .profile1 {
    height: auto;
    border-radius: 10px;
  }

  .center {
    flex-flow: column;
  }

  .profileTime {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 1179px) {
  .svgImg2 {
    height: 50%;
  }

  .aboutRight {
    margin-top: 100px !important;
  }

  .aboutSection {
    flex-flow: column;
    margin-top: 300px;
  }
}

@media (min-width: 1300px) {
  #btnGreen {
    white-space: nowrap;
  }

  .heroRightInnterContainer {
    width: 80%;
  }

  .contentRight {
    padding-right: 50px;
  }
}

.section {
  margin-top: 170px;
}

@media (max-width: 906px) {
  .contentRight {
    margin-top: 125px;
  }
}

@media (max-width: 992px) {
  .menuIcon {
    display: block;
  }

  .right {
    display: none;
  }

  .center {
    display: none;
  }


  .container{
    width: 100%;
  }
  .navbar {
    gap: 20px;
    width: 90% !important;
  }
  .feedBackRight {
    padding: 100px 0px !important;
  }

  .mBG {
    display: none;
  }

  .line {
    width: 100%;
  }

  .memberShipCards {
    flex-flow: column;
  }

  .aboutRight {
    margin-top: 95px;
  }

  .aboutLeft {
    margin-top: 100px;
  }

  .appTitle {
    width: 60%;
  }

  .badge {
    top: 10px;
    left: 5px;
  }

  .heroRightInnterContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile1 {
    width: 100%;
  }

  .section {
    margin-top: 250px;
  }

  .profile1 {
    width: 100%;
  }

  .vector2 {
    display: none;
  }

  .contentRight {
    padding-right: 0;
    align-items: center;
  }

  .h4 {
    font-size: 1.7cqmax;
  }

  .leftContent {
    width: 90%;
    justify-content: center;
  }

  .processCaption {
    width: 70%;
  }
}

@media (max-width: 1280px) {
  .contentLeft {
    flex: 1 0 40vh;
  }

  .contentRight {
    flex: 1 0 40vh;
  }

  .leftContent {
    width: 100%;
  }

  .svgContainer {
    margin-top: 100px;
    width: 100%;
  }

  .doFlexBetween {
    justify-content: center;
    align-items: center;
  }

  .h2 {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .memberShipContainer {
    width: 98%;
  }

  .memberShipSection {
    width: 90%;
  }

  .memberShipSection {
    margin-top: 250px;
  }

  .aboutChild {
    align-items: center;
  }

  .processSteps {
    gap: 30px;
  }

  .aboutRight {
    align-items: center;
    gap: 10px;
    padding: 0 0px;
    text-align: center;
  }

  .aboutTitle {
    width: 90%;
    text-align: center;
  }

  .aboutCaption {
    width: 90%;
    text-align: center;
  }

  .vectore8 {
    display: none;
  }

  .aboutSection {
    gap: 17%;
    margin-top: 60%;
  }

  .aboutLeft {
    justify-content: center;
  }

  .aboutCard {
    display: flex;
    justify-content: center;
    background: none;
    align-items: center;
  }

  .heroTitle {
    text-align: center;
  }

  .p {
    text-align: center;
  }

  .heroHeading {
    text-align: center;
  }

  .lady {
    position: absolute;
    left: inherit;
    bottom: 0;
    width: 92%;
  }

  .imgCard {
    position: absolute;
    bottom: -256px;
    right: inherit;
    width: 100%;
  }

  .aboutCaption {
    text-align: center !important;
  }

  .logoContainer {
    gap: 25px;
  }

  .step {
    flex: 0 0 250px;
  }

  .counter {
    justify-content: center;
  }

  .countLeft {
    flex: 1 0 80%;
  }

  .countRight {
    flex: 1 0 80%;
  }

  .heroRightInnterContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .contentLeft {
    flex: 1 0 100%;
    padding: 15px;

    align-items: center;
  }

  .profile1 {
    width: 100%;
  }

  .profileImage {
    width: 25px;
    height: 25px;
  }

  .profile1:last-child {
    width: 100%;
    left: 0;
  }

  .hero {
    width: auto;
  }

  .svgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .svg1 {
    display: none;
  }

  .leftContent {
    width: 90%;
    justify-content: center;
  }

  .contentRight {
    flex: 1 0 90%;
  }

  .processCaption {
    width: 90%;
  }

  .svgImg1 {
    display: none;
  }

  .svgImg2 {
    position: relative;
    top: 50% !important;
    left: 0;
    height: 56%;
    width: 70%;
  }

  .h2 {
    width: 90%;
  }

  .svgImg1 {
    height: calc(100% + 60px);
  }


  .container {
    width: 100%;
  }

  .navbar {
    gap: 20px;
    width: 90%;
  }


  .btnGreen {
    width: 60%;
  }
}


@media only screen and (max-width : 850px) {
  

}

@media only screen and (min-width : 850px) {
  .mobileSidebar {
    display: none !important;
  }
}

@media only screen and (max-width : 1180px) {
  .aboutChild {
    text-align: center !important;
    align-items: center;
  }
}