@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primaryColorOrange: #ff5c08;
  --primaryColorGreen: #137c67;
  --fontWhite: white;
  --fontBlack: black;
  --fontSecendory: #757095;
  --secendory  : #8593A3;
  --bgSecendory: rgb(235, 235, 235);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.hero {
  width: 80%;
  min-height: 700px;
  display: flex;
  flex-flow: wrap;
  margin-top: 50px;
}

.contentRight {
  flex: 1 0 50vh;
  display: flex;
  justify-content: center;
  position: relative;
  padding-right: 50px;
  flex-direction: column;
  align-items: end;
}

.contentLeft {
  flex: 1 0 50vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  padding: 40px;
}

.heroHeading {
  font-size: smaller;
}

.heroTitle {
  font-size: 3cqmax;
  font-weight: 600;
}

.heroRightInnterContainer {
  background: url("vector.svg");
  background-color: var(--bgSecendory);
  height: 50vh;
  width: 86%;
  position: relative;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200%;
  border-radius: 30px;
}

.svg1 {
  position: relative;
  height: 120%;
  bottom: 60px;
  left: 10%;

}

.doFlexBetween {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: center;
}

.container {
  width: 80%;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.center {
  font-size: small;
  display: flex;
  gap: 18px;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-flow: wrap;
}

.left {
  flex: 0 0 auto;
}

.btnStart {
  padding: 10px 10px;
  background-color: var(--primaryColorOrange);
  border-radius: 50px;
  outline: none;
  border: none;
  color: var(--fontWhite);
  font-weight: 300;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  flex: 0 0 auto;
}

.text {
  font-weight: 400;
}

.svg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.vector1{
 position: absolute;
 top: 0;
 right: 15px;
}

.vector2{
  align-self: baseline;
  position: relative;
  bottom: 50px;
  left: -58px;
}

.svgContainer {
  background: url("vector.svg");
  background-color: var(--bgSecendory);
  height: 650px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.m-5 {
  margin-top: 30px;
}

.m-10 {
  margin-top: 80px;
}

.svgImg1 {
  height: 120%;
  position: relative;
  bottom: 40px;
  width: 100%;
}

.svgImg2 {
  position: absolute;
  bottom: -100px;
  top: auto;
  left: 36%;
  height: 56%;
}

.h4 {
  font-size: 1.4cqmax;
  font-weight: 600;
}

.h1 {
  font-size: 4cqmax;
  font-weight: 600;
}

.h3 {
  font-size: 3.7cqmax;
  font-weight: 600;
}

.p {
  color: var(--fontSecendory);
  font-weight: 300;
  font-size: 1.3cqmax;
  line-height: 2;
}

.btnFont {
  color: var(--fontWhite);
  font-weight: 300;
  font-size: 1.3cqmax;
  line-height: 2;
}

.btnGreen {
  padding: 12px 40px;
  background-color: var(--primaryColorGreen);
  border: none;
  outline: none;
  margin-top: 60px;
  border-radius: 50px;
  width: 40%;
  filter: drop-shadow(0 40px 50px #137c678a);
}

.svgImg2Res {
  display: none;
}

.counter {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-flow: wrap; */
  gap: 50px;
  width: 90%;
}

.countTitle {
  font-size: 26px;
  font-weight: 500;
}

.countCaption {
  font-weight: 200;
  font-size: small;
  color: rgba(128, 128, 128, 0.35);
}

.countLeft {
  display: flex;
  flex: 0 0 50%;
  gap: 5px;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.countRight {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  gap: 5px;
}

.about {
  text-align: justify;
  font-weight: 200;
}

.aboutTitle {
  font-size: x-large;
}

.logoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.bg {
  background: url("vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fs-3 {
  font-size: small;
  font-weight: 600;
}

.f-c {
  text-align: center !important;
}

.fdColumn {
  flex-direction: column !important;
}

.dFlex {
  display: flex;
}

.fWrap {
  flex-wrap: wrap !important;
  flex-flow: wrap !important;
}

.dCenter {
  justify-content: center;
}

.dBeetween {
  justify-content: space-between;
}

.dEvenly {
  justify-content: space-evenly;
}

.dAround {
  justify-content: space-around;
}

.dAlignCenter {
  align-items: center;
}

.h2 {
  font-size: xx-large;
}

.fw-1 {
  font-weight: 600;
}

.g-5 {
  gap: 1%;
}

.rg-5 {
  gap: 20px;
}

.fontRes {
  text-align: center;
  width: 200px;
}

.boxTitle {
  inline-size: 140px;
  text-align: left;
  font-weight: 600;
}

pre {
  text-align: left;
}

.serviceCard {
  padding: 35px 30px 30px 40px;
  border: 1px solid var(--bgSecendory);
  background-color: var(--fontWhite);
  width: 270px;
  border-radius: 20px;
  height: 237px;
  display: flex;
  justify-content: end;
  align-items: left;
  flex-direction: column;
}

.serviceCard:last-child {
  padding: 35px 30px 30px 40px;
  display: flex;
  justify-content: end;
  align-items: left;
  background-color: var(--primaryColorGreen);
}

.boxLogo {
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  height: 50px;
  background-color: var(--bgSecendory);
}

.processTitle {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -3%;
  font-weight: 600;
}

.serviceCard:last-child .boxLogo {
  font-size: xx-large;
  color: var(--fontWhite);
  background: none !important;
  text-align: left;
}

.serviceCard:last-child .boxTitle {
  font-size: xx-large;
  color: var(--fontWhite);
  font-weight: 500;
}

.serviceCard:last-child .caption {
  font-size: small;
  text-align: left;
  color: var(--fontWhite);
}

h4 {
  word-wrap: break-word;
}

.caption {
  font-size: small;
  text-align: left;
  color: var(--fontSecendory);
}

.process {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

.mt-1 {
  margin-top: 10px;
}

.processCaption {
  font-size: 20px;
}

.processCaption {
  line-height: 35px;
  text-align: center;
  letter-spacing: -2%;
  font-weight: 400;
  color: var(--fontSecendory);
  width: 50%;
}

.processSteps {
  margin-top: 20px;
  width: 80%;
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}

.step {
  flex: 0 0 320px;
  height: 270px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 130px;
  border-radius: 50%;
  height: 130px;
  display: flex;
  border: 1px solid gray;
  border-style: dashed;
  justify-content: center;
  align-items: center;
  background-color: var(--fontWhite);
  position: relative;
}

.step:first-child .circle {
  border: none;
  filter: drop-shadow(0 0 80px rgba(128, 121, 121, 0.596));
}

.innerCircle {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #137c674f;
  position: relative;
  overflow: hidden;
}

.icon {
  position: absolute;
  font-size: 40px;
  color: var(--primaryColorGreen);
}

.stepDetail {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.stepTitle {
  font-size: 24px;
  text-align: center;
}

.stepInfo {
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--fontSecendory);
  text-align: center;
  width: 90%;
}

.profileContainer{
  position: absolute;
  width: 100%;
  min-height: auto;
  flex-direction: column;
  filter: drop-shadow( 0 0 50px rgba(0, 0, 0, 0.288));
  bottom: -190px;
  display: flex;
  gap: 15px;
  justify-content: right;
}

.profile1{
  width: 93%;
  border-radius: 60px;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--fontWhite);
}

.profileInfo{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
}

.profile1:last-child{
  position: relative;
  left: 70px;
  width: 82%;

}

.profileDetails{
  display: flex;
  flex-direction: column;
}

.profileTime{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 10px;
}

.surname{
  font-size: large;
}

.name{
  font-size: small;
  color: var(--secendory);
}

.time1{
  font-size: small;
  color: var(--primaryColorOrange);
}

.time2{
  font-size: small;
  color: var(--primaryColorGreen);
}

.round{
  width: 23px;
  position: absolute;
  height: 23px;
  border-radius: 50%;
  background-color: var(--primaryColorGreen);
}

.badge{
  width: 40px;
  top: -50px;
  left: 21%;
  height: 40px;
  position: absolute;
  font-size: x-large;
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.line1{
  position: absolute;
}

.line2{
  position: absolute;
}

@media (max-width : 300px) {
    .center{
        flex-flow: column;
    }
}

@media (min-width : 1300px) {
  .heroRightInnterContainer{
    width: 80%;
  }

  .contentRight{
    padding-right: 50px;
  }
}

.section{
  margin-top: 170px;
}

@media (max-width: 992px) {
  .badge{
    top: 10px;
    left: 0;
  }

 .heroRightInnterContainer{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

  .profile1{
    width: 100%;
  }
  .section{
    margin-top: 250px;
  }

  .profile1{
    width: 100%;
  }

  .vector2{
    display: none;
  }
  .contentRight{
    padding-right: 0;
    align-items: center;
  }
  .h4 {
    font-size: 1.7cqmax;
  }
  .leftContent {
    width: 90%;
    justify-content: center;
  }
  .processCaption {
    width: 70%;
  }
}

@media (max-width: 1280px) {
  .contentLeft {
    flex: 1 0 40vh;
  }
  .contentRight {
    flex: 1 0 40vh;
  }
  .leftContent {
    width: 100%;
  }

  .svgContainer {
    margin-top: 100px;
    width: 100%;
  }

  .doFlexBetween {
    justify-content: center;
    align-items: center;
  }

  .h2 {
    width: 60%;
  }
}

@media (max-width: 768px) {
.contentLeft{
    flex: 1 0 100%;
    padding: 15px;
}
  .profile1{
    width: 100%;
  }
  .profile1:last-child{
    width: 100%;
    left: 0;
  }
  .hero{
    width: auto;
  }
  .svgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .svg1{
    display: none;
  }
  .leftContent {
    width: 90%;
    justify-content: center;
  }

  .contentRight{
    flex: 1 0 90%;
  }
  .processCaption {
    width: 90%;
  }

  .svgImg1 {
    display: none;
  }

  .svgImg2 {
    position: relative;
    top: 50% !important;
    left: 0;
    height: 56%;
  }

  .h2 {
    width: 90%;
  }
  .svgImg1 {
    height: 120%;
  }

  .navbar {
    gap: 20px;
    justify-content: center;
  }

  .btnGreen {
    width: 60%;
  }
}
